@import url("https://fonts.googleapis.com/css?family=Cairo");

.layout {
  min-height: 100vh;
}
html,
body {
  height: 100%;
}

body,
#root {
  min-height: 100%;
}

body,
.ant-menu {
  font-family: "Cairo";
}
